<a href="https://colab.research.google.com/github/wcrowley342/DataCamp_CustomerSegmentation/blob/main/Data_Camp_Customer_Segmentation_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://learn.datacamp.com/courses/customer-segmentation-in-python

The most successful companies today are the ones that know their customers so well that they can anticipate their needs. Data analysts play a key role in unlocking these in-depth insights, and segmenting the customers to better serve them. In this course, you will learn real-world techniques on customer segmentation and behavioral analytics, using a real dataset containing anonymized customer transactions from an online retailer. You will first run cohort analysis to understand customer trends. You will then learn how to build easy to interpret customer segments. On top of that, you will prepare the segments you created, making them ready for machine learning. Finally, you will make your segments more powerful with k-means clustering, in just few lines of code! By the end of this course, you will be able to apply practical customer behavioral analytics and segmentation techniques.

# Cohort Analysis

**Types of cohorts**
*   Time cohorts
*   Behavior cohorts (groups them by type of product/service)
*   Size cohorts (grouped based on order amount typically)

**Elements of cohort analysis**
*   Pivot tables
*   Rows - cohorts
*   Columns - time periods (since acquisition)
*   Metrics (in the table) - number of customers in the cohort

**Time cohorts**

Grouping customers based on time since an activity, such as month since acquisition

Helps you understand "retention rates"

In [9]:
#import data: https://archive.ics.uci.edu/ml/datasets/online+retail# , .5 Million

import pandas as pd
import numpy as np
import datetime as dt
from datetime import timedelta


online = pd.read_csv("/content/Online Retail.csv")
online.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [11]:
#assign acquisition month cohort

#define function that truncates date to first day of month

def get_month(x): return dt.datetime(x.year, x.month, 1)

#create invoice month column

online['InvoiceMonth'] = online['InvoiceDate'].apply(get_month)

#create group by object by invoice month

grouping = online.groupby('CustomerID')['InvoiceMonth']

#assign smallest invoice month value to each customer, thereby assigning cohort to each customer 

online['CohortMonth'] = grouping.transform('min')

AttributeError: ignored

**Cohort Metrics**

In [ ]:
#Retention rate; ratio of how many customers came back in subsequent month (first month/column is always 100%)

#store the first column as cohort_sizes
cohort_sizes = cohort.counts.iloc[:,0]

#Divide all values on the cohorts_counts table by cohort sizes
retention = cohort_counts.divide(cohort_sizes, axis = 0)

#review the retention table (rounded to 3 digits)

retention.round(3) * 100

**Visualize Cohort Analysist** (with heatmaps)



*   Easiest way to visualize cohort analysis
*   Combines both data and visuals
*   Can be created with just a few lines of code from seaborn

# Recency, Frequency, Monetary Value analysis

# Data pre-processing for clustering

# Customer Segmentation with K-means